<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hmrcb.mapper.UserMapper">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的-->
    <resultMap id="user_resultMap" type="User">
        <!-- 定义更复杂的  映射规则 -->
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="gender" property="gender"></result>
        <result column="regist_time" property="registTime"></result>
    </resultMap>

<!-- 在select标签中编写查询的SQL语句，
id属性值必须是唯一的，不能够重复
parameterType属性指明查询时使用的参数类型，
resultType属性指明查询返回的结果集类型
resultMap属性指明查询返回和实体类的对应关系的类型
-->
    <!--arg0, arg1, arg2... -->
    <select id="queryUserById" resultMap="user_resultMap">
        select id,username,password,gender,regist_time
        from t_user
        where id=#{arg0}
    </select>

    <!--param1, param2, param3... -->
    <select id="queryUserByIdAndUsername" resultType="User">
        select id,username,password,gender,regist_time as registTime
        from t_user
        where id=#{param1} and username=#{param2}
    </select>

    <select id="queryUserByIdAndPassword" resultType="User">
        select id,username,password,gender,regist_time as registTime
        from t_user
        where id=#{id} and password = #{password}
    </select>

    <select id="queryUserByIdAndPassword2" resultType="User">
        select id,username,password,gender,regist_time as registTime
        from t_user
        where id=#{id} and password = #{password}
    </select>

    <select id="queryUserByIdAndPassword3" resultType="User">
        select id,username,password,gender,regist_time as registTime
        from t_user
        where id=#{id} and password = #{password}
    </select>

    <select id="queryUserByUsername" resultType="User">
        select id,username,password,gender,regist_time as registTime
        from t_user
        where username like concat('%',#{username},'%')
    </select>

    <delete id="deleteUser" parameterType="int">
        delete from t_user
        where id=#{id}
    </delete>

    <update id="updateUser" parameterType="User">
        update t_user
        set username=#{username},password=#{password},gender=#{gender},regist_time=#{registTime}
        where id=#{id}
    </update>

    <insert id="insertUser" parameterType="User">
        <!-- 主键回填，将新数据的ID，存入java对象的和主键对应的属性中 -->
        <selectKey order="AFTER" resultType="int" keyProperty="id">
            select last_insert_id()
        </selectKey>
        insert into t_user values(#{id},#{username},#{password},#{gender},#{registTime})
    </insert>

</mapper>